<div class="empty-placeholder" *ngIf="clients.length == 0 && current_company == undefined">
	<div class="container animated fadeInUp delay-2">
			<img src="assets/img/team-illustration.png" alt="Team" width="280">
			<h3>Start by adding a client</h3>
			<p>You need to do something about it.</p>
			<button class="btn btn-primary btn-lg"><i class="feather user-plus"></i> Add your first client</button>
	</div>
</div>

<div class="row" [hidden]="clients.length == 0" *ngIf="current_company !== undefined">
	
	<app-clientlist-widget></app-clientlist-widget>

	<div class="col-sm-8 animated fadeInUp delay-3">

		<div class="client-info-header animated fadeInDown delay-2">
			<div class="row">
				<div class="col-xs-9">
					<h3>
						{{current_company.name}} <br>
						<small class="client-info-header-owner" data-tab="2">
							<div class="avatar avatar-24">PN</div> 
							<span>
								{{current_company.owner != null ? current_company.owner.first_name : 'No Owner' }} {{current_company.owner != null ? current_company.owner.last_name : ''}}
							</span>
						</small>
					</h3>
				</div>
				<div class="col-xs-3 text-right">
					<button class="btn btn-primary">Edit info</button>
				</div>
			</div>
			<div class="row client-info-header-row">
				<div class="col-sm-4">
					<a href="#" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather mail"></i></div>
						<div class="client-info-header-text">{{current_company.email}}</div>
					</a>
				</div>
				<div class="col-sm-5">
					<a href="#" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather map-pin"></i></div>
						<div class="client-info-header-text">1 Infinite Loop - Cupertino, CA 95014</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="client-info-header-content-wrapper pull-right">
						<div class="client-info-header-icon"><i class="feather phone"></i></div>
						<div class="client-info-header-text">(555) 555-5555</div>
					</a>
				</div>
			</div>

			<div class="row client-info-header-row">
				<div class="col-sm-4">
					<a href="#" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather globe"></i></div>
						<div class="client-info-header-text">clientdomain.com</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="fa fa-facebook-official"></i></div>
						<div class="client-info-header-text">{{current_company.facebook}}</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="#" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="fa fa-linkedin"></i></div>
						<div class="client-info-header-text">{{current_company.linkedin}}</div>
					</a>
				</div>
				<div class="col-sm-2">
					<a href="#" class="client-info-header-content-wrapper pull-right">
						<div class="client-info-header-icon"><i class="fa fa-twitter"></i></div>
						<div class="client-info-header-text">{{current_company.twitter}}</div>
					</a>
				</div>
			</div>

			<nav class="client-info-header-tabs">
				<a href="#" data-tab="1" class="active">Gateway</a>
				<a href="#" data-tab="2">Client users</a>
			</nav>
		</div>

		<div class="tab-template active" data-tab="1">
			<div class="panel panel-default communications-widget coming-soon">
				<div class="panel-heading">
					Communications <span class="badge">1</span>
					<button class="btn btn-success">Ask something</button>
				</div>
				<div class="panel-body">
					<div class="label-date-wrapper">
						<div class="label-date">Today</div>
					</div>
					<div class="bubble bubble-attention">
						<div class="bubble-avatar">
							<div class="avatar avatar-32">
								<div class="avatar-inicitials">CP</div>
							</div>
						</div>
						<div class="bubble-content">
							<div class="bubble-message-sender">
								<span class="bubble-message-sender-name">Chicago Accounting Pros</span>
								<span class="bubble-message-sender-time">10:30am</span>
							</div>
							<div class="bubble-message-text">
								Vivamus efficitur consectetur ante, sed condimentum mauris consectetur sollicitudin.
							</div>
						</div>
						<div class="bubble-action-right">Reply</div>
					</div>
					<div class="label-date-wrapper">
						<div class="label-date">Yesterday</div>
					</div>
					<div class="bubble">
						<div class="bubble-message">
							<div class="bubble-avatar">
								<div class="avatar avatar-32">
									<div class="avatar-inicitials">JM</div>
								</div>
							</div>
							<div class="bubble-content">
								<div class="bubble-message-sender">
									<span class="bubble-message-sender-name">Jane Maxwell</span>
									<span class="bubble-message-sender-time">2:13pm</span>
								</div>
								<div class="bubble-message-text">
									Pellentesque eu turpis rutrum?
								</div>
							</div>
						</div>
						<div class="bubble-message">
							<div class="bubble-avatar">
								<div class="avatar avatar-32">
									<div class="avatar-inicitials">CP</div>
								</div>
							</div>
							<div class="bubble-content">
								<div class="bubble-message-sender">
									<span class="bubble-message-sender-name">Chicago Accounting Pros</span>
									<span class="bubble-message-sender-time">3:27pm</span>
								</div>
								<div class="bubble-message-text">
									<a href="#"><i class="feather download"></i> filename.pdf</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<app-apps-widget></app-apps-widget>
			<app-resources-widget></app-resources-widget>
		</div>

		<div class="tab-template" data-tab="2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Clients Users
					<!-- <button class="btn btn-success">Ask something</button> -->
				</div>
				<div class="panel-body">
					Users list
				</div>
			</div>
		</div>

	</div>
</div> 