<div class="empty-placeholder" *ngIf="clients.length == 0 && loading == false">
	<div class="container animated animation-300  fadeInUp delay-2">
			<img src="assets/img/team-illustration.svg" alt="Team" width="280">
			<h3>Start by adding a client</h3>
			<p>You need to do something about it.</p>
			<button class="btn btn-primary btn-lg" (click)="openAddClientModal()"><i class="feather user-plus"></i> Add your first client</button>
	</div>
</div>

<div class="row" [hidden]="clients.length == 0" *ngIf="current_company !== undefined">

	<app-clientlist-widget></app-clientlist-widget>
	
	<div class="col-sm-8 animated animation-300  fadeInUp delay-3 widgets-wrapper-for-firefox">
		
		<div class="client-info-header animated animation-300  fadeInDown delay-2">
			<div class="row">
				<div class="col-xs-9 col-sm-8 col-md-9">
					<h3>
						{{current_company.name}} <br>
						<small class="client-info-header-owner" data-tab="2">
							<div *ngIf="current_company.owner != null" class="avatar avatar-24" initials [name]="current_company.owner.first_name + ' ' + current_company.owner.last_name"></div> 
							<span>
								{{current_company.owner != null ? current_company.owner.first_name : 'No Owner' }} {{current_company.owner != null ? current_company.owner.last_name : ''}}
							</span>
						</small>
					</h3>
				</div>
				<div class="col-xs-3 col-sm-4 col-md-3 text-right">
					<button class="btn btn-primary"><i class="feather edit visible-xs"></i><span class="hidden-xs"> Edit info</span></button>
				</div>
			</div>
			<div class="row client-info-header-row">
				<div class="col-sm-4">
					<a class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather mail"></i></div>
						<div class="client-info-header-text">{{current_company.email}}</div>
					</a>
				</div>
				<div class="col-sm-5">
					<a class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather map-pin"></i></div>
						<div class="client-info-header-text">1 Infinite Loop - Cupertino, CA 95014</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="client-info-header-content-wrapper pull-right">
						<div class="client-info-header-icon"><i class="feather phone"></i></div>
						<div class="client-info-header-text">(555) 555-5555</div>
					</a>
				</div>
			</div>

			<div class="row client-info-header-row">
				<div class="col-sm-4">
					<a class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="feather globe"></i></div>
						<div class="client-info-header-text">clientdomain.com</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="{{current_company.facebook}}" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="fa fa-facebook-official"></i></div>
						<div class="client-info-header-text">Facebook</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="{{current_company.linkedin}}" class="client-info-header-content-wrapper">
						<div class="client-info-header-icon"><i class="fa fa-linkedin"></i></div>
						<div class="client-info-header-text">LinkedIn</div>
					</a>
				</div>
				<div class="col-sm-2">
					<a href="{{current_company.twitter}}" class="client-info-header-content-wrapper pull-right">
						<div class="client-info-header-icon"><i class="fa fa-twitter"></i></div>
						<div class="client-info-header-text">Twitter</div>
					</a>
				</div>
			</div>

			<nav class="client-info-header-tabs tabs">
				<a data-tab="1" class="active">Gateway</a>
				<a data-tab="2">Users</a>
			</nav>
		</div>

		<div class="tab-template active" data-tab="1">
			
			<!-- Next Steps -->
			<!-- <div class="panel panel-default" *ngIf="current_company.users.length == 0 || current_company.accountants.length == 0">
				<div class="panel-heading">
					Next Steps
				</div>
				<div class="panel-body text-center">
					<div class="row">
						<div class="col-sm-6" *ngIf="current_company.users.length == 0">
							<img src="assets/img/team-illustration.svg" alt="Team" height="90" style="margin-top:15px">
							<h4>Invite Users</h4>
							<p>Invite at least a user.</p>
							<button class="btn btn-primary" style="margin-bottom:15px" (click)="openAddClientModal(current_company.id)"><i class="feather plus"></i> Invite Users</button>
						</div>
						<div class="col-sm-6" *ngIf="current_company.accountants.length == 0">
							<img src="assets/img/practice-team-illustration.svg" alt="Team" height="90" style="margin-top:15px">
							<h4>Assign Accountants</h4>
							<p>Assign at least an accountant.</p>
							<button class="btn btn-primary" style="margin-bottom:15px"><i class="feather plus"></i> Assign Accountants</button>
						</div>
					</div>
				</div>
			</div> -->
			<!-- Next Steps -->

			<app-apps-widget></app-apps-widget>
			<app-resources-widget></app-resources-widget>

			<div class="panel panel-default communications-widget coming-soon">
				<div class="panel-heading">
					Communications <span class="badge">1</span>
					<button class="btn btn-success">Ask something</button>
				</div>
				<div class="panel-body">
					<div class="label-date-wrapper">
						<div class="label-date">Today</div>
					</div>
					<div class="bubble bubble-attention">
						<div class="bubble-avatar">
							<div class="avatar avatar-32">
								<div class="avatar-inicitials">CP</div>
							</div>
						</div>
						<div class="bubble-content">
							<div class="bubble-message-sender">
								<span class="bubble-message-sender-name">Chicago Accounting Pros</span>
								<span class="bubble-message-sender-time">10:30am</span>
							</div>
							<div class="bubble-message-text">
								Vivamus efficitur consectetur ante, sed condimentum mauris consectetur sollicitudin.
							</div>
						</div>
						<div class="bubble-action-right">Reply</div>
					</div>
					<div class="label-date-wrapper">
						<div class="label-date">Yesterday</div>
					</div>
					<div class="bubble">
						<div class="bubble-message">
							<div class="bubble-avatar">
								<div class="avatar avatar-32">
									<div class="avatar-inicitials">JM</div>
								</div>
							</div>
							<div class="bubble-content">
								<div class="bubble-message-sender">
									<span class="bubble-message-sender-name">Jane Maxwell</span>
									<span class="bubble-message-sender-time">2:13pm</span>
								</div>
								<div class="bubble-message-text">
									Pellentesque eu turpis rutrum?
								</div>
							</div>
						</div>
						<div class="bubble-message">
							<div class="bubble-avatar">
								<div class="avatar avatar-32">
									<div class="avatar-inicitials">CP</div>
								</div>
							</div>
							<div class="bubble-content">
								<div class="bubble-message-sender">
									<span class="bubble-message-sender-name">Chicago Accounting Pros</span>
									<span class="bubble-message-sender-time">3:27pm</span>
								</div>
								<div class="bubble-message-text">
									<a><i class="feather download"></i> filename.pdf</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-template" data-tab="2">

			<div class="panel panel-default">
				<div class="panel-heading">
					Pending Invites
					<!-- <button class="btn btn-success" *ngIf="data.access_level == 1"><i class="feather plus visible-xs"></i><span class="hidden-xs">Assign Accountants</span></button> -->
				</div>
				<div class="panel-body">
					<table class="table table-borderless table-striped">
						<tr *ngFor="let invite of current_company.pending_invites">
							<td>
								<div class="avatar avatar-32">
									<!-- <img src="http://via.placeholder.com/32x32/b3bac5"> -->
									<div class="avatar-initials" initials [name]="invite.name"></div>
								</div>
							</td>
							<td>{{invite.name}} {{invite.email}}</td>
							<td class="text-right"><a class="color-red-hover"><i class="feather trash visible-xs"></i><span class="hidden-xs">Remove</span></a></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Users
					<button class="btn btn-success" (click)="openAddClientModal(current_company)"><i class="feather plus visible-xs"></i><span class="hidden-xs">Invite Users</span></button>
				</div>
				<div class="panel-body">
					<table class="table table-borderless table-striped">
						<tr *ngFor="let user of current_company.users">
							<td width="42">
								<div class="avatar avatar-32">
									<!-- <img src="http://via.placeholder.com/32x32/b3bac5"> -->
									<div class="avatar-initials" initials [name]="user.user.first_name + ' ' + user.user.last_name"></div>
								</div>
							</td>
							<td>{{user.user.first_name}} {{user.user.last_name}}</td>
							<td>
								<strong *ngIf="user.user.id == current_company.owner.id">Owner</strong>
								<strong *ngIf="user.user.id != current_company.owner.id">User</strong>
							</td>
							<td class="text-right"><a><i class="feather edit visible-xs"></i><span class="hidden-xs">Edit info</span></a></td>
							<td class="text-right"><a class="color-red-hover"><i class="feather trash visible-xs"></i><span class="hidden-xs">Remove</span></a></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Assigned Accountants
					<button class="btn btn-success" *ngIf="data.access_level == 1"><i class="feather plus visible-xs"></i><span class="hidden-xs">Assign Accountants</span></button>
				</div>
				<div class="panel-body">
					<table class="table table-borderless table-striped">
						<tr *ngFor="let accountant of current_company.accountants">
							<td>
								<div class="avatar avatar-32">
									<div class="avatar-inicitials" initials [name]="accountant.user.first_name + ' ' + accountant.user.last_name"></div>
								</div>
							</td>
							<td>{{accountant.user.first_name}} {{accountant.user.last_name}}</td>
							<td class="text-right"><a><i class="feather edit visible-xs"></i><span class="hidden-xs">Manage Assignments</span></a></td>
							<td class="text-right"><a class="color-red-hover"><i class="feather trash visible-xs"></i><span class="hidden-xs">Remove</span></a></td>
						</tr>
					</table>
				</div>
			</div>

		</div>

	</div>
</div>