<div class="container-margin animated fadeInUp animation-300">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Manage Practice Staff
                    <button class="btn btn-success" *ngIf="data.access_level == 1" (click)="openAddAccountantModal(company)">Add Staff</button>
                </div>
                <div class="panel-body">
                    <h4>Team members</h4>
                    <table class="table table-borderless table-striped">
                        <tr *ngFor="let accountant of company.accountants">
                            <td>
                                <div class="avatar avatar-32">
                                    <img src="http://via.placeholder.com/32x32/b3bac5">
                                    <div class="avatar-inicitials">{{generalUtil.getNameInitials(accountant.user.first_name + ' ' + accountant.user.last_name)}}</div>
                                </div>
                            </td>
                            <td>{{accountant.user.first_name}} {{accountant.user.last_name}}</td>
                            <td *ngIf="accountant.access_level == 1"><strong>Admin</strong></td>
                            <td *ngIf="accountant.access_level == 2">Regular Accountant</td>
                            <td *ngIf="data.access_level == 1"><a><i class="feather user-check visible-xs"></i><span class="hidden-xs">Manage Assignments</span></a></td>
                            <td *ngIf="data.access_level == 1"><a><i class="feather settings visible-xs"></i><span class="hidden-xs">Manage Account</span></a></td>
                        </tr>
                    </table>
                </div>

                <div class="panel-body">
                    <h4>Pending Accountant Invites</h4>
                    <table class="table table-borderless table-striped">
                        <tr *ngFor="let accountant of company.pending_accountants">
                            <td>{{accountant.name}}</td>
                            <td>
                                {{accountant.email}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Gateway Parameters</div>
                <div class="panel-body">

                    
                    <form [formGroup]="practiceInfoForm">
                    <div class="row">
                        <div class="col-sm-5 col-md-6">
                            <h4>Practice Info</h4>
                            <div class="form-group">
                                <label for="nameInput01">Name</label>
                                <input id="nameInput01" formControlName="name" [ngClass]="formUtil.displayFieldCss(practiceInfoForm, 'name', true)" type="text" class="form-control" placeholder="World’s Best Bookkeepers">
                                <div class="form-invalid-message" *ngIf="!practiceInfoForm.get('name').valid">Company name cannot be empty.</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="siteInput01">Header Color</label>
                                        <input style="cursor:pointer" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="color" (colorPickerChange)="changeColor($event)"  [style.background]="color"/>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for="logoInput01">Logo</label>
                                        <input id="logoInput01" #logoInput type="file" class="form-control" (change)="fileChange($event)" [(ngModel)]="file" formControlName="logo">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="siteInput01">Website</label>
                                <input id="siteInput01" type="text" class="form-control" placeholder="domain.com" formControlName="website">
                            </div>
                        </div>

                        <div class="col-sm-7 col-md-6 hidden-xs">
                            <h4 class="fix-preview-title">Client View Preview</h4>
                            <div class="fix-preview">
                                <header class="header-bar header-bar-client-view animated fadeIn delay-1" [style.background-color]="practiceInfoForm.get('color').value">
                                    <div class="container-fluid">
                                        <div class="practice-header">
                                            <div class="practice-logo-name">
                                                <!-- Company Name -->
                                                <img #logoImage src="{{company.logo}}" alt="{{practiceInfoForm.get('name').value}}">
                                            </div>
                                            <div class="practice-logo-urls">
                                                <a target="_blank" href="http://{{practiceInfoForm.get('facebook').value}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                                <a target="_blank" href="http://{{practiceInfoForm.get('linkedin').value}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                                <a target="_blank" href="http://{{practiceInfoForm.get('twitter').value}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a target="_blank" href="{{practiceInfoForm.get('website').value}}">{{practiceInfoForm.get('website').value}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="container-fluid">
                                    <div class="panel panel-default" style="margin-top:-52px; margin-bottom:-100px; z-index:2; position:relative">
                                        <div class="panel-heading">Leave a review</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3 col-md-3">
                                                    <a><img src="http://placehold.it/64x64/111"></a>
                                                </div>
                                                <div class="col-xs-4 col-sm-3 col-md-3">
                                                    <a><img src="http://placehold.it/64x64/444"></a>
                                                </div>
                                                <div class="col-xs-4 col-sm-3 col-md-3">
                                                    <a><img src="http://placehold.it/64x64/888"></a>
                                                </div>
                                                <div class="col-xs-4 col-sm-3 col-md-3">
                                                    <a><img src="http://placehold.it/64x64/666"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Social</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="twitterInput01">Twitter</label>
                                <input id="twitterInput01" type="text" class="form-control" placeholder="twitter.com/user" formControlName="twitter">
                            </div>
                            <div class="form-group">
                                <label for="facebookInput01">Facebook</label>
                                <input id="facebookInput01" type="text" class="form-control" placeholder="facebook.com/user" formControlName="facebook">
                            </div>
                            <div class="form-group">
                                <label for="linkedInInput01">LinkedIn</label>
                                <input id="linkedInInput01" type="text" class="form-control" placeholder="linkedin.com/company-beta/0000000/" formControlName="linkedin">
                            </div>
                        </div>
                    </div>
                    </form>

                    <h4>Reviews Widget</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="proAdvisorInput01">Find a ProAdvisor</label>
                                <input id="proAdvisorInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="xeroInput01">Xero</label>
                                <input id="xeroInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="yelpInput01">Yelp</label>
                                <input id="yelpInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="linkedInInput02">LinkedIn</label>
                                <input id="linkedInInput02" type="text" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" (click)="saveCompany()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>