<div class="container-margin">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Manage Practice Staff
                    <button class="btn btn-success">Add Staff</button>
                </div>
                <div class="panel-body">
                    <h4>Team members</h4>
                    <table class="table table-borderless table-striped">
                        <tr>
                            <td>
                                <div class="avatar avatar-32">
                                    <img src="http://via.placeholder.com/32x32/b3bac5">
                                    <div class="avatar-inicitials">CG</div>
                                </div>
                            </td>
                            <td>Accountant Name</td>
                            <td><strong>Admin</strong></td>
                            <td><a href="#"><i class="feather user-check visible-xs"></i><span class="hidden-xs">Manage Client Assignments</span></a></td>
                            <td><a href="#"><i class="feather settings visible-xs"></i><span class="hidden-xs">Manage User Account</span></a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="avatar avatar-32">
                                    <img src="http://via.placeholder.com/32x32/b3bac5">
                                    <div class="avatar-inicitials">CG</div>
                                </div>
                            </td>
                            <td>Accountant Name</td>
                            <td>Regular User</td>
                            <td><a href="#"><i class="feather user-check visible-xs"></i><span class="hidden-xs">Manage Client Assignments</span></a></td>
                            <td><a href="#"><i class="feather settings visible-xs"></i><span class="hidden-xs">Manage User Account</span></a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="avatar avatar-32">
                                    <img src="http://via.placeholder.com/32x32/b3bac5">
                                    <div class="avatar-inicitials">CG</div>
                                </div>
                            </td>
                            <td>Accountant Name</td>
                            <td>Regular User</td>
                            <td><a href="#"><i class="feather user-check visible-xs"></i><span class="hidden-xs">Manage Client Assignments</span></a></td>
                            <td><a href="#"><i class="feather settings visible-xs"></i><span class="hidden-xs">Manage User Account</span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Gateway Parameters</div>
                <div class="panel-body">

                    <h4>Practice Info</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nameInput01">Name</label>
                                <input id="nameInput01" type="text" class="form-control" placeholder="World’s Best Bookkeepers">
                            </div>
                            <div class="form-group">
                                <label for="logoInput01">Logo</label>
                                <input id="logoInput01" type="file" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="siteInput01">Website</label>
                                <input id="siteInput01" type="text" class="form-control" placeholder="domain.com">
                            </div>
                        </div>
                    </div>

                    <h4>Social</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="twitterInput01">Twitter</label>
                                <input id="twitterInput01" type="text" class="form-control" placeholder="twitter.com/user">
                            </div>
                            <div class="form-group">
                                <label for="facebookInput01">Facebook</label>
                                <input id="facebookInput01" type="text" class="form-control" placeholder="facebook.com/user">
                            </div>
                            <div class="form-group">
                                <label for="linkedInInput01">LinkedIn</label>
                                <input id="linkedInInput01" type="text" class="form-control" placeholder="linkedin.com/company-beta/0000000/">
                            </div>
                        </div>
                    </div>

                    <h4>Reviews Widget</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="proAdvisorInput01">Find a ProAdvisor</label>
                                <input id="proAdvisorInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="xeroInput01">Xero</label>
                                <input id="xeroInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="yelpInput01">Yelp</label>
                                <input id="yelpInput01" type="text" class="form-control" placeholder="...">
                            </div>
                            <div class="form-group">
                                <label for="linkedInInput02">LinkedIn</label>
                                <input id="linkedInInput02" type="text" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>