<div class="fake-body header-bar">
    <div class="main">
        <div class="container text-center">
            <div class="practice-logo-wrapper">
                <div class="practice-logo">
                    <div class="practice-logo-name"><img src="http://via.placeholder.com/250x90"></div>
                    <!-- <div class="practice-logo-name">Chicago Accounting Pros</div> -->
                </div>
            </div>
            <div class="panel panel-default panel-login text-left animated fadeInUp">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="inputEmail01">Email address</label>
                            <input [(ngModel)]="email" id="inputEmail01" [ngModelOptions]="{standalone:true}" type="text" class="form-control" placeholder="user@domain.com" autocomplete="off" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="inputPw01">Password</label>
                            <div class="input-password">
                                <input [(ngModel)]="password" id="inputPw01" [ngModelOptions]="{standalone:true}" type="password" class="form-control" placeholder='Password' autocomplete="off">
                                <i class="feather eye-off"></i>
                            </div>
                        </div>
                        <button (click)="login()" type="submit" name="submit" class="btn btn-success btn-block btn-lg">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <footer class="privacy-terms">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </footer>
    </div>
</div>