<div class="modal-header">
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close"><i class="feather x"></i></button>
    <h4 class="modal-title" id="myModalLabel">Add a client</h4>
</div>
<div class="modal-body">
    <p>Provide the basic information to create this client. The user will receive an email invitation to join as the company owner.</p>
    <form [formGroup]="inviteForm">
    <div class="form-group" *ngIf="name == null || name == undefined">
        <label for="inputCompanyName">Company Name</label>
        <input id="inputCompanyName" autofocus type="text" formControlName="company_name" [ngClass]="formUtil.displayFieldCss(inviteForm, 'company_name', inviteFormSubmitAttempt)" class="form-control" placeholder="Will's Windsurf Shop">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputCompanyOwner" *ngIf="name == null">Owner Name</label>
                <label for="inputCompanyOwner" *ngIf="name != null">User Name</label>
                <input id="inputCompanyOwner" type="text" class="form-control" formControlName="name" placeholder="William Hurst" [ngClass]="formUtil.displayFieldCss(inviteForm, 'name', inviteFormSubmitAttempt)">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputCompanyEmail" *ngIf="name != null">User Email</label>
                <label for="inputCompanyEmail" *ngIf="name == null">Owner Email</label>
                <input id="inputCompanyEmail" type="text" class="form-control" formControlName="email" [ngClass]="formUtil.displayFieldCss(inviteForm, 'email', inviteFormSubmitAttempt)" placeholder="william@willswindsurf.com">
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-6 text-left">
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="inviteClient()">
                Invite client 
                <span *ngIf="name != null">to {{name}}</span>
                <span *ngIf="name == null">and create company</span>
            </button>
        </div>
    </div>
</div>