<div class="modal-header">
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close"><i class="feather x"></i></button>
        <h4 class="modal-title" id="myModalLabel">Manage Resources</h4>
    </div>

    <div class="modal-body resources-modal" *ngIf="showAddResource == false">
        <div class="manage-resources-list">
            <h4>Selected Resources</h4>
            <p>Drag and drop the Selected Apps and choose the best order do display it to your client. Click on a Resource to remove it from this list.</p>
            <div class="row selected-resources-list" [dragula]='"bag-resources-client"' [dragulaModel]='company_resources' [dragulaOptions]='dragulaOptions'>
                <div class="col-md-6 col-sort-resource" *ngFor="let resource of company_resources; let i = index" (click)="delete_company_resource(resource, i)">
                    <app-resources-item [resource]="resource" [link]="false"></app-resources-item>
                </div>
            </div>
        </div>

        <div class="manage-resources-list">
            <div class="row">
                <div class="col-xs-6">
                    <div dropdown style="display:inline-block">
                        <span dropdownToggle>
                            <h4 class="manage-apps-filter"><span class="library-name">{{current_library.name}}</span> <i class="feather chevron-down"></i></h4>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu" role="menu" style="left:15px;top:30px">
                            <li role="menuitem" (click)="change_library('global')"><a class="dropdown-item">Global Library</a></li>
                            <li role="menuitem" (click)="change_library('practice')"><a class="dropdown-item">Practice Library</a></li>
                        </ul>
                    </div>
                    <div class="manage-apps-search">
                        <i class="feather search"></i> <input type="text" [(ngModel)]="search" placeholder="Search in Resources">
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <!-- <div class="manage-apps-order" dropdown placement="bottom right">
                        <span dropdownToggle>
                            Sort by <span class="sort-by">Recently Used</span> <i class="feather chevron-down"></i>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="menuitem"><a class="dropdown-item">Recently Used</a></li>
                            <li role="menuitem"><a class="dropdown-item">Alphabetical Order</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <div>
            <p>Simply click on a Resource to add it to the Selected Resources.</p>
            <div class="row not-selected-resources-list manage-resources-list scrollbars">
                <div class="col-md-6" *ngIf="current_library.name == 'Practice Library'">
                    <a href="javascript:" (click)="addResourceScreen(true)" class="resources-item resources-item-add">
                        <div class="resources-thumb">
                            <i class="feather plus x3" style="margin-left: 14px;margin-top: 9px;display: inline-block;color:#7e8692!important"></i>
                        </div>
                        <div class="resources-content">
                            <div class="resources-content-wrapper">
                                <div class="resources-type">&nbsp;</div>
                                <div class="resources-title" style="top: 15px;">New Resource</div>
                                <div class="resources-description" style="padding-top: 3px;">Click to add a new resource</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6" *ngFor="let resource of (current_library.bucket | resourceSearch:search); let i = index" (click)="add_company_resource(resource, i)">
                    <app-resources-item [resource]="resource" [link]="false"></app-resources-item>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" [hidden]="showAddResource == false">
        <a href="javascript:" (click)="showAddResource = !showAddResource" style="display:inline-block;padding:10px 0; margin-bottom:0px"><i class="feather arrow-left"></i> Back</a>
        <h4>Add a new Resource</h4>
        <p>Provide the information to add a new Resource.</p>
        <form [formGroup]="addResourceForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="ResourceTitleInput01">Resource title</label>
                        <input id="ResourceTitleInput01" formControlName="name" type="text" autofocus class="form-control" placeholder="QuickBooks">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ResourceCategory01">Resource type</label>
                        <select id="ResourceCategory01" formControlName="file_type" class="form-control">
                            <option value="5">Link</option>
                            <option value="3">Video</option>
                            <option value="1">Document</option>
                            <option value="4">Image</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ResourceDesc01">Resource description</label>
                        <textarea id="ResourceDesc01" class="form-control" formControlName="description" placeholder="Describe this resource"></textarea>
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ResourceDesc01">Resource category</label>
                        <textarea id="ResourceDesc01" class="form-control" formControlName="category" placeholder="Describe this resource"></textarea>
                    </div>
                </div> -->

                <div class="col-sm-12" [hidden]="!(addResourceForm.get('file_type').value == 1 ||
                    addResourceForm.get('file_type').value == 2 ||
                    addResourceForm.get('file_type').value == 4)">
                    <div class="form-group">
                        <label for="ResourceAttachment01">Resource attachment</label>
                        <input #resourceInput id="ResourceAttachment01" type="file" class="form-control" formControlName="file">
                    </div>
                </div>

                <div class="col-sm-12" [hidden]="!(addResourceForm.get('file_type').value == 5 || addResourceForm.get('file_type').value == 3)">
                    <div class="form-group">
                        <label for="ResourceURL01">Resource URL</label>
                        <input id="ResourceURL01" type="text" class="form-control" formControlName="url" placeholder="https://domain.com/resource">
                    </div>
                </div> 

            </div>
        </form>
    </div>
    <div class="modal-footer" *ngIf="showAddResource == true">
        <button class="btn btn-primary pull-left" [disabled]="!addResourceForm.valid" (click)="saveResource()"><i class="feather plus"></i> Add Resource</button>
        <button type="button" class="btn btn-default" (click)="addResourceScreen(false)">Cancel</button>
        <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> -->
    </div>