/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body#alana-bg {
    background: #ad1457;
    background: -moz-linear-gradient(-45deg, #ad1457 0%, #e91e63 25%, #f06292 50%, #64b5f6 100%);
    background: -webkit-linear-gradient(-45deg, #ad1457 0%,#e91e63 25%,#f06292 50%,#64b5f6 100%);
    background: linear-gradient(135deg, #ad1457 0%,#e91e63 25%,#f06292 50%,#64b5f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1457', endColorstr='#64b5f6',GradientType=1);

}

#landing {
    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 20px;
    text-align: center;
}

#landing img {
    max-width: 50%;
}

body.login {
    background: #00A1E4;
}

body {
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 400;
}

main {
    display: block;
    max-width: 1024px;
    margin: 20px auto 70px auto;
    min-height: 100%;
    position: relative;
}

h1 {
    font-weight: 300;
    font-size: 48px;
}

header {
    background: #e91e63;
    width: 100%;
    height: 100px;
    padding: 16px 0;
    z-index: 9999;
    position: relative;
}

header img {
    max-height: 60px;
    vertical-align: middle;
}

header form {
    display: block;
    position: relative;
}

header input {
    margin-right: 10px;
    display: block;
    width: 240px;
    height: 67px;
    padding: 20px 40px 20px 20px;
    font-size: 16px;
    color: #0F5C7D;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 2px #0F5C7D;
}

.left {
    float: left;
}

.right  {
    float: right;
}

#container {
    width: 1024px;
    margin: 1em auto;
}

.embed-placeholder,
.tableauPlaceholder {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.tab-toolbar-container {
    display: hidden;
}

.hide-toolbar {
    width: 100%;
    left: 216px;
    height: 60px;
    position: absolute;
    background-color: rgb(246, 246, 246);
    bottom: 9px;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px 50px 16px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 240px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #FFF;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    height: 67px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #222;
}

.dropbtn > img {
    width: 35px;
    display: inline-block;
    margin-right: 7px;
}

.dropbtn > img.icon {
    position: absolute;
    width: 16px;
    right: 16px;
    top: 26px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin-top: 1px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display:block;
}

footer {
    background: #ad1457;
    background: -moz-linear-gradient(-45deg, #ad1457 0%, #e91e63 25%, #f06292 50%, #64b5f6 100%);
    background: -webkit-linear-gradient(-45deg, #ad1457 0%,#e91e63 25%,#f06292 50%,#64b5f6 100%);
    background: linear-gradient(135deg, #ad1457 0%,#e91e63 25%,#f06292 50%,#64b5f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1457', endColorstr='#64b5f6',GradientType=1);
    width: 100%;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    margin-top: -50px;
}

footer img {
    max-height: 30px;
}


.warning {
    margin-bottom: 15px;
    padding: 20px 0;
    background-color: #660B0B;
    border-radius: 3px;
    color: #fff;
}

#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 5px dashed #000;
}

#progress {
    margin: 20px 0;
    background-color: #fff;
    border: none;
}

#progress legend {
    text-align: center;
    width: 100%;
}

.progress-trough {
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: #1FC886;
}

#upload-form {
    text-align: center;
}

#upload-form input[type="file"] {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#upload-button {
    width: 200px;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-top: 20px;
}

#upload-button:hover,
#upload-button:focus {
    color: #ddd;
    box-shadow: inset 0 0 3px 3px #222;
}

#upload-button:active {
    margin-top: 1px;
    margin-left: 1px;
}

#login-form h1 {
    font-weight: 300;
    font-size: 36px;
    color: #ddd;
    text-align: left;
}

#login-form a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}


#login-form img {
    max-width: 320px;
}

#login-form fieldset {
    border-radius: 3px;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

#login-form fieldset a {
    display: block;
    clear: both;
}

#login-form fieldset input,
#login-form fieldset label {
    display: inline-block;
    text-align: left;
}

#login-form fieldset label {
    font-weight: 300;
    font-size: 24px;
    color: #333;
    width: 33%;
}

#login-form fieldset input {
    width: 50%;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px #ccc;
    font-size: 14px;
    transition: all 200ms ease-in-out;
    margin-left: 10%;
}

#login-form fieldset input:focus {
    border-color: #666;
    box-shadow: 0 0 3px #666;
}

#login-form input[type="submit"] {
    width: 100%;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#login-form input[type="submit"]:hover,
#login-form input[type="submit"]:focus {
    color: #ddd;
    box-shadow: inset 0 0 3px 3px #222;
}

#login-form input[type="submit"]:active {
    margin-top: 1px;
    margin-left: 1px;
}
*/