 <div class="row" *ngIf="step == 1">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h3>Who are you?</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="form-group">
			<label for="email01">Email address</label>
			<input id="email01" type="email" [(ngModel)]="email" class="form-control" placeholder="name@domain.com">
		</div>
		<button class="btn btn-primary" (click)="step_email()">That's my email address <i class="feather chevron-right"></i></button>
	</div>
</div> 

<div class="row" *ngIf="step == 2">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h3>What is your name?</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="name01">First name</label>
					<input id="name01" [(ngModel)]="first_name" type="text" class="form-control" placeholder="Heather">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="name02">Last name</label>
					<input id="name02" type="text" [(ngModel)]="last_name" class="form-control" placeholder="Mason">
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<h3>Set your password</h3>
				<p>Perceived end knowledge certainly day sweetness why cordially.</p>
				<div class="form-group">
					<label for="pw01">Password</label>
					<div class="input-password">
						<input id="pw01" type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
						<i class="feather eye-off" (click)="show_password()"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<button class="btn btn-primary" (click)="step_name_and_password()">Continue to Practice Info <i class="feather chevron-right"></i></button>
				<!-- <div class="current-invited">
					You are currently invited to join <strong>Chicago Accouting Pros</strong> Practice.<br>
					<button class="btn btn-primary" (click)="step_practice()">Join Practice <i class="feather chevron-right"></i></button>
				</div> -->
			</div>
		</div>
	</div>
</div> 

 <div class="row" *ngIf="step == 3">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h3>Practice info</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="form-group">
			<label for="practiceName01">Practice name</label>
            <input id="practiceName01" type="text" [(ngModel)]="practice_name" class="form-control" placeholder="Chicago Accounting Pros">
		</div>
		<br>
		<!-- <h3>Set your practice URL</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-7 d-padding-r">
				<div class="form-group" style="margin-bottom: 0">
					<label for="practiceUrl01">You practice URL</label>
					<input id="practiceUrl01" title="Letters, numbers and dashes only" [(ngModel)]="pratice_handle" data-toggle="tooltip" data-placement="top" type="text" class="form-control text-right" placeholder="chicagoaccountingpros">
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-5 d-padding-l">
				<div class="form-group">
					<label class="hidden-xs">&nbsp;</label>
					<div class="practice-url"><strong>.cloudclienthub.com</strong></div>
				</div>
			</div>
		</div> -->
		<div class="text-center">
			<button class="btn btn-primary" data-toggle="modal" data-target="#modal-terms" (click)="add_practice()">Create Practice <i class="feather chevron-right"></i></button>
		</div>
	</div>
</div> 

<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h3>Send invitations</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="form-group invitation-group">
			<div class="row">
				<div class="col-xs-5">
					<label for="practiceName01">Email address</label>
				</div>
				<div class="col-xs-7 text-right">
					<a href="#"><i class="feather plus"></i> <strong>Add another <span class="hidden-xs hidden-md">invitation</span></strong></a>
				</div>
			</div>
			<input id="practiceName01" type="email" class="form-control" placeholder="name@domain.com">
		</div>
		<div class="form-group invitation-group">
			<input type="email" class="form-control" placeholder="name@domain.com">
		</div>
		<div class="form-group invitation-group">
			<input type="email" class="form-control" placeholder="name@domain.com">
		</div>

		<p style="margin-top: 40px; margin-bottom: 0">Or, you can <a href="#" data-toggle="modal" data-target="#modal-invite">get an invite link</a> to share with your teammates.</p>
		<div class="row">
			<div class="col-md-5">
				<button class="btn btn-default btn-block" style="margin-top: 15px">Skip for now</button>
			</div>
			<div class="col-md-7">
				<button class="btn btn-primary btn-block" style="margin-top: 15px">Send Invitations <i class="feather chevron-right"></i></button>
			</div>
		</div>
	</div>
</div> -->