<form [formGroup]="emailForm">

<div class="row" *ngIf="invite == null || invite === undefined">
	<div class="col-sm-6 col-sm-offset-3">
		<h3>Who are you?</h3>
		<p>Perceived end knowledge certainly day sweetness why cordially.</p>
		<div class="row">
			<div class="col-md-10">
				<div class="form-group" >
					<label for="email">Email address</label>
					<input id="email" type="email" [ngClass]="formUtil.displayFieldCss(emailForm, 'email', emailFormSubmitAttempt)" formControlName="email" class="form-control" placeholder="name@domain.com">
				</div>
			</div>
		</div>
		<button class="btn btn-lg btn-primary" [disabled]="!emailForm.valid" (click)="check_email()">That's my email address <i class="feather chevron-right"></i></button>
	</div>
</div> 

</form>

<div class="row" *ngIf="invite !== null && invite !== undefined">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
		<img src="assets/img/team-illustration.png" alt="Team" width="280">
		<div class="text-left">
			<br>

			<!-- invite == true and there's a company tied to the invite. Can be an accountant or a client -->
			<div *ngIf="invite == true && invite_info.invited_to !== null">
			<a class="choose-link" [routerLink]="['../create']">
				<i class="feather x3 users pull-left" style="margin-right: 15px;"></i>
				<strong>Join {{invite_info.invited_to.name}}</strong>
				<p>You were invited by {{invite_info.invited_by.first_name}} {{invite_info.invited_by.last_name}}.</p>
			</a>
			<hr>
			</div>
		  <!-- invite == true and invited to a company == null, its a new client invited by an accountant -->
			<div *ngIf="invite == true && invite_info.invited_to == null">
				<a class="choose-link" [routerLink]="['../create']">
					<i class="feather x3 plus pull-left" style="margin-right: 15px;"></i>
					<strong>Set up a new company</strong>
					<p>Make a company from scratch.</p>
				</a>
			</div>
			<!-- Invite == False, user is Accountant  -->
			<div *ngIf="invite == false">
				<a class="choose-link" [routerLink]="['../create']">
					<i class="feather x3 plus pull-left" style="margin-right: 15px;"></i>
					<strong>Set up a new practice</strong>
					<p>Make a practice from scratch.</p>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Terms modal -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="myModalLabel">Review the Terms</h4>
      </div>
      <div class="modal-body">
      	<p>By Clicking "<strong>I Agree</strong>" so attention pronounce satisfied daughters. But shy tedious pressed studied opinion entered windows off. Advantage dependent <a href="#">suspicion convinced</a> provision him yet. <a href="#">Timed balls match</a> at by rooms we.</p>
      	<div class="text-center">
      		<button data-dismiss="modal" class="btn btn-lg btn-success btn-lg" style="padding-left: 30px;padding-right: 30px; margin: 10px 0;">I Agree</button>
      	</div>
      </div>
    </div>
  </div>
</div>

<!-- Invite link modal -->
<div class="modal fade" id="modal-invite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="myModalLabel">Share your invite link with teammates</h4>
      </div>
      <div class="modal-body">
      	<p>Anyone can use the following link to join your Practice. Just copy and share it!</p>
      	<div class="row">
      		<div class="col-md-8">
      			<input type="text" readonly class="form-control" value="https://join.cloudclienthub.com/chicagoaccountingpros/3Muj6lPb4i9b9fkG7KvrHJKL6FkO4G7HgU7KnG8H" onfocus="this.select();">
      		</div>
      		<div class="col-md-4">
      			<button class="btn btn-lg btn-primary copy-url"><i class="feather clipboard"></i> Copy to clipboard</button>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>