@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');

body {
	font-family: 'Fira Sans', sans-serif;
	color: #7e8692;
}

h1, h2, h3, h4, h5, h6 {
	color: #333c48;
	font-weight: 400;
}

small {
	color: #b3bac5;
}

strong {
	font-weight: 500;
}

a {
	color: #0084ff;
	text-decoration: none !important;
}

a:hover, a:focus {
	color: #006acd;
	text-decoration: none !important;
}

.color-red-hover {
	color: #f72239;
}

.color-red-hover:hover, .color-red-hover:focus {
	color: #c91428;
}