::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3bac5 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b3bac5 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b3bac5 !important;
}
::-ms-input-placeholder { /* IE 10+ */
  color: #b3bac5 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b3bac5 !important;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

.form-control {
	border: 1px solid #e1e4e9;
	box-shadow: none;
	border-radius: 2px;
	/*padding: 25px 15px 15px 15px !important;*/
	box-shadow: inset 0 2px 5px 0 rgba(219, 225, 234, 0.2) !important;
	min-height: 38px;
}

.form-control:focus {
	box-shadow: none !important;
	border: 1px solid #0084ff;
	box-shadow: inset 0 2px 5px 0 rgba(219, 225, 234, 0.5), 0 2px 5px 0 rgba(219, 225, 234, 0.5) !important;
}

.form-control:focus {
	box-shadow: none;
}

.form-group {
	margin-bottom: 20px;
}

label {
	font-weight: 500;
}

.input-password {
	position: relative;
}

.input-password .tooltip, .input-password .tooltip-inner {
	left: 0; right: 0;
	width: 100%;
	max-width: 100%;
}

.input-password input {
	padding-right: 45px; 
}

.input-password .feather {
	position: absolute;
	padding: 12px 15px;
	right: 0px; top: -3px;
	cursor: pointer;
	z-index: 2;
	touch-action: none;
}

.form-invalid {
	border-color: #f72239 !important;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGNzIyMzk7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMC4zLDMuOUwxLjgsMThjLTAuNiwxLTAuMiwyLjIsMC43LDIuN2MwLjMsMC4yLDAuNiwwLjMsMSwwLjNoMTYuOWMxLjEsMCwyLTAuOSwyLTJjMC0wLjMtMC4xLTAuNy0wLjMtMUwxMy43LDMuOWMtMC42LTAuOS0xLjgtMS4yLTIuNy0wLjdDMTAuNywzLjQsMTAuNSwzLjYsMTAuMywzLjl6Ii8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjEyIiB5MT0iOSIgeDI9IjEyIiB5Mj0iMTMiLz48bGluZSBjbGFzcz0ic3QwIiB4MT0iMTIiIHkxPSIxNyIgeDI9IjEyIiB5Mj0iMTciLz48L3N2Zz4=) !important;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: right 12px center;
	padding-right: 40px;
}

.form-invalid-message {
	display: inline-block;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	color: #f72239;
	font-size: 12px;
	padding: 5px;
	padding-bottom: 0;
	animation-name: bounceIn;
	animation-duration: 600ms;
	animation-delay: 1s;
	font-weight: 500;
}

.form-valid {
	border-color: #09cd33 !important;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMwOUNEMzM7fTwvc3R5bGU+PGc+PHBhdGggY2xhc3M9InN0MCIgZD0iTTksMThjLTAuMywwLTAuNS0wLjEtMC43LTAuM2wtNS01Yy0wLjQtMC40LTAuNC0xLDAtMS40czEtMC40LDEuNCwwTDksMTUuNkwxOS4zLDUuM2MwLjQtMC40LDEtMC40LDEuNCwwczAuNCwxLDAsMS40bC0xMSwxMUM5LjUsMTcuOSw5LjMsMTgsOSwxOHoiLz48L2c+PC9zdmc+) !important;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: right 12px center;
	padding-right: 40px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.form-invalid {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAMAAABrN94UAAAAMFBMVEX////3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3Ijn3IjlucL9gAAAAD3RSTlMAECAwQFBgcICgsMDQ4PDg5yR0AAAAfklEQVR4AYWOWxLDIAwDBXk0hJC9/237Y081ITPdL8BYK/2nnIxNL3SAUxMbLCtMO2VwSAejyImnGDsVtgisD3OXWotDkh/ht+pmQcrcnIP0uxke/hS2llc3z9U91JVW47q8ZInFHER40Z4qp7NrzSRjuflIjRfuKtXOxFj1BWnBCFAJlJojAAAAAElFTkSuQmCC) !important;
	}
	.form-valid {
		background-size: 14px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAMAAACTkM4rAAAAElBMVEX///8JzTMJzTMJzTMJzTMJzTNn996EAAAABXRSTlMAEJCw0A13lbIAAAAzSURBVHjancoxDgAgDEJRKfX+VzZdwOAm088LKwZWSm8+0viXIvLDCYvSYpPYJDaJ7ZYDaNkA90bWiPUAAAAASUVORK5CYII=) !important;
	}
}