.widgets {
	margin-top: -50px;
	position: relative;
}

.widgets-practice {
	margin-top: 100px;
}

@media screen and (max-width: 767px) {
	.widgets-practice {
	    margin-top: 86px;
	}
}

/* Apps */
.apps-widget .panel-body {
	padding: 15px;
	min-height: 246px;
}

.app-name {
    margin: 20px 0;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333c48;
}

.app-description {
    margin-bottom: 5px;
    font-size: 12px;
}

.interesting-data {
    font-size: 11px;
}

.slick-slide a:hover .app-name {
    color: #0084ff;
}

@media screen and (max-width: 600px) {
    .apps-widget .panel-body {
        padding: 15px 0;
    }

    .app-description {
        font-size: 11px;
    }
}

.manage-apps-row {
	white-space: nowrap;
	overflow-y: visible;
	overflow-x: auto;
	padding: 15px;
	padding-top: 0;
	margin: 0 -15px;
}

.manage-apps-list:first-child {
	margin-bottom: 30px;
}

.manage-apps-list h4 {
	font-weight: 500;
}

.manage-apps-filter {
	cursor: pointer;
	display: inline-block;
}

.manage-apps-search {
	display: inline-block;
	margin-left: 15px;
}

.manage-apps-search input {
	background: transparent;
	border: transparent;
	padding-left: 5px;
	outline: none
}

.manage-apps-card {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(39,76,132,0.15);
	display: inline-block;
	width: 125px;
	padding: 8px 10px 10px;
	text-align: center;
	margin-right: 15px;
	transition: 150ms;
	border: 1px solid transparent;
	border-radius: 2px;
}

.manage-apps-card:last-child {
	margin: 0;
}

.library .manage-apps-card:hover {
	border:1px solid #0084ff;
}

.manage-apps-card:hover .app-name {
	color: #0084ff;
}

.manage-apps-card {
	cursor: pointer;
}

.manage-apps-card.active {
	background: #0084ff;
	cursor: pointer;
}

.manage-apps-card.active * {
	color: #fff !important;
}

.manage-apps-icon {
	display: inline-block;
	text-align: left;
	float: left;
	clear: left;
	margin-bottom: 5px;
	margin-top: -4px;
	margin-left: -2px;
}

.manage-apps-card .app-name {
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.manage-apps-card .app-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.manage-apps-logo {
	display: block;
	margin: auto;
	clear: both;
	pointer-events: none
}

.manage-apps-order {
	margin-top: 11px;
	cursor: pointer;
	color: #333c48;
}

.manage-apps-order .sort-by {
	font-weight: 500;
}

.manage-apps-order .dropdown-menu {
	right: 15px;
}

.new-app {
	height: 162px;
	vertical-align: top;
	padding-top: 37px;
	border: 1px dashed #929eb3;
	box-shadow: none;
	transition: 300ms;
}
/* Apps */

/* Communications */
.communications-widget {
	overflow: hidden;
}

.communications-widget .panel-body {
	max-height: 318px;
}

.bubble {
	background-color: #f7f8fa;
	border: 1px solid #eeeff1;
	padding: 12px 15px;
	border-radius: 19px;
	margin-bottom: 15px;
	display: table;
	width: 100%;
}
.bubble-attention {
	background-color: #e5f2ff;
	border-color: #a3d3ff; 
}

.bubble-message {
	margin-bottom: 15px;
}

.bubble-message:last-child {
	margin: 0;
}

.bubble-avatar,
.bubble-content {
	display: table-cell;
	vertical-align: top;
}

.bubble-avatar {
	width: 47px;
}

.bubble-action-right {
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	color: #0084ff;
	font-weight: 500;
}

.bubble-action-right:hover,
.bubble-action-right:focus {
	color: #006acd;
}

.bubble-message-sender-name {
	color: #333c48;
	font-weight: 500;
}

.bubble-message-sender-time {
	padding-left: 5px;
	font-weight: 400;
}

.bubble-message-text {
	color: #333c48;
}

.label-date-wrapper {
	text-align: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 10px;
}

.label-date-wrapper:first-child {
	margin-top: -27px !important; /* Make the first label reach the .panel-heading */
}

.label-date-wrapper::before {
	content: " ";
	position: absolute;
	left: 0; top: 50%; right: 0;
	height: 1px;
	background-color: #f1f4f7;
	margin-top: -1px;
	z-index: 0;
}

.label-date {
	background-color: #fff;
	padding: 3px 15px;
	border-radius: 19px;
	font-size: 13px;
	color: #333c48;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1;
}
/* Communications */

/* Resources */
.resources-widget .panel-body {
	height: 185px;
	overflow: auto;
	padding-bottom: 0;
}

.resources-item {
	margin-bottom: 15px;
	display: table;
	width: 100%;
}

.resources-item:hover .resources-title {
	color: #0084ff;
}

.resources-thumb {
	vertical-align: top;
	display: table-cell;
	width: 79px;
}

.resources-type {
	font-size: 11px;
	text-transform: uppercase;
	/* font-weight: 500; */
	color: #9ea6b3;
	letter-spacing: 2px;
	margin-top: -2px;
	padding-bottom: 2px;
}

.resources-type i {
	vertical-align: -1px;
}

.resources-content {
	vertical-align: top;
	display: table-cell;
}

.resources-content-wrapper {
	height: 72px;
	overflow: hidden;
}

.resources-title {
	color: #333c48;
	font-weight: 500;
}

.resources-description {
	color: #7e8692;
	font-size: 12px;
}
/* Resources */

/* Review */
.reviews-widget .panel-body {
	min-height: 113px;
}
.reviews-widget .panel-body a {
	display: inline-block;
	margin-bottom: 19px;
}
@media screen and (max-width: 767px) {
	.reviews-widget .panel-body {
		text-align: center;
	}
}
/* Review */

/* Clients list */
.clients-list-wrapper {
	/*min-width: 500px;*/
}

.btn-new-client {
	position: fixed;
	display: block;
	top: 94px;
	margin-left: 207px;
	z-index: 2;
}

.clients-list {
	overflow: auto;
	position: fixed;
	display: block;
	width: 360px;
	top: 150px;
	bottom: 30px;
	/*border: 1px solid #fff;*/
}

.clients-list-search {
	position: fixed;
	top: 94px;
	width: 360px;
	padding: 9px 0;
	cursor: text;
}

.clients-list-search i {
	vertical-align: -1px;
}

.clients-list-search input {
	border: none;
	background-color: transparent;
	outline: none;
	padding-left: 5px;
	font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 180px;
		margin-left: 50px;
		font-size: 13px;
	}
	.cch-logo {
		margin-left: 50px;
	}
}

@media screen and (min-width: 992px) and (max-width: 999px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 250px;
		margin-left: 50px;
	}
	.cch-logo {
		margin-left: 50px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 250px;
		margin-left: 50px;
	}
	.cch-logo {
		margin-left: 50px;
	}
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 300px;
		margin-left: 0;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 300px;
		margin-left: 50px;
	}
	.cch-logo {
		margin-left: 50px;
	}
}

@media screen and (min-width: 1251px) and (max-width: 1300px) {
	.clients-list, .clients-list-search, .btn-new-client  {
		width: 300px;
		margin-left: 50px;
	}
	.cch-logo {
		margin-left: 50px;
	}
	
}

@media screen and (max-width: 1300px) {
	.clients-list-search {
		top: 140px;
	}
	.clients-list {
		top: 190px;
	}
}

/*@media screen and (max-width: 1200px) {
	.clients-list, .clients-list-search {
		width: 293px;
	}
}

@media screen and (max-width: 992px) {
	.clients-list, .clients-list-search {
		width: 220px;
	}
}

@media screen and (max-width: 768px) {
	.clients-list, .clients-list-search {
		display: none;
	}
}*/

.clients-list-item {
	background: transparent;
	padding: 10px;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #e6e8ed;
}

.clients-list-item:last-child {
	border-bottom: transparent;
}

.clients-list-item:hover {
	background: #e6e8ed;
	border-radius: 2px;
}

.clients-list-item.active {
	background: #e6e8ed;
	border-radius: 2px;
}
/* .clients-list-item.active .clients-list-name {
	color: #fff;
}
.clients-list-item.active .clients-list-description {
	color: #9ec6eb;
} */

.clients-list-name {
	font-weight: 500;
	color: #333c48;
}

.clients-list-description {
	color: #b3bac5;
}
/* Clients list */