.modal-backdrop {
	background: rgba(30,35,40,1);
  /*opacity: 1 !important;*/
  /* display: none */
}

.modal {

}

.modal-header {
    border-bottom: 1px solid rgba(229, 232, 239, 0.71);
}

.modal-header .close {
    margin: 0;
    color: #333c48;
    opacity: .5;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-body {
    background: #f2f3f6;
}

.modal-footer {
    border-top: 1px solid rgba(229, 232, 239, 0.71);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .15s ease-out;
       -o-transition:      -o-transform .15s ease-out;
          transition:         transform .15s ease-out;
  -webkit-transform: scale(0.75) !important;
      -ms-transform: scale(0.75) !important;
       -o-transform: scale(0.75) !important;
          transform: scale(0.75) !important;
}
.modal.in .modal-dialog {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
       -o-transform: scale(1) !important;
          transform: scale(1) !important;
}

.modal-content {
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.2);
	border: none;
}


