.avatar {
	width: 64px;
	height: 64px;
	border-radius: 64px;
	text-align: center;
	background-color: #b3bac5;
	color: #fff;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.avatar > img {
	position: absolute !important;
	left: 0; top: 0; right: 0; bottom: 0 !important;
	z-index: 1;
}

.avatar-64 {
	line-height: 64px;
	font-size: 22px;
}

.avatar-64 > img {
	width: 64px; height: 64px;
}

.avatar-32 {
	line-height: 34px;
	width: 32px;
	height: 32px;
	font-size: 14px;
}

.avatar-32 > img {
	width: 32px; height: 32px;
}

.avatar-24 {
	line-height: 25px;
	width: 24px;
	height: 24px;
	font-size: 11px;
	background: rgba(55,64,76,.5);
}

.avatar-24 > img {
	width: 24px; height: 24px;
}

@media screen and (max-width: 767px) {
	.avatar-64 {
		line-height: 34px;
		width: 32px;
		height: 32px;
		font-size: 14px;
	}

	.avatar-64 > img {
		width: 32px; height: 32px;
	}
}