<div class="panel panel-default apps-widget">
    <div class="panel-heading">
        Apps
        <button class="btn btn-success" *ngIf="data.user_type == 1" (click)="openModal(appsModal)">Manage</button>
    </div>
    <div class="panel-body">
        <!-- Placeholder for Accountant -->
        <div *ngIf="company_apps.length == 0 && data.user_type == 1" class="text-center">
            <img src="assets/img/apps-illustration.svg" alt="Apps" width="130" style="margin-top:25px">
            <h4>Choose the Apps</h4>
            <p>Click on "Manage" to select the Apps to use with this client.</p>
        </div>

        <!-- Placeholder for Client -->
        <div *ngIf="company_apps.length == 0 && data.user_type == 2" class="text-center">
            <img src="assets/img/apps-illustration.svg" alt="Apps" width="130" style="margin-top:25px">
            <h4>Your Apps</h4>
            <p>Your accountant has not selected the Apps yet, please try again later.</p>
        </div>

         <ngx-slick *ngIf="company_apps.length > 0" class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let app of company_apps" class="slide">
                <a href="{{app.url}}" target="_blank">
                    <img src="assets/img/logos/{{ app.logo }}">
                    <div class="app-name">{{ app.name }}</div>
                </a>
                <div class="app-description">{{ app.category }}</div>
                <!-- <a class="interesting-data" href="#">Interesting data?</a> -->
            </div>
        </ngx-slick> 
    </div>
</div>

<ng-template #appsModal class="modal-lg">
    <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close"><i class="feather x"></i></button>
    <h4 class="modal-title" id="myModalLabel">Manage Apps</h4>
    </div>
    <div class="modal-body">
        <div class="apps-modal-container" *ngIf="showAddApp == false">
            <div class="manage-apps-list">
                <h4>Selected Apps</h4>
                <p>Drag and drop the Selected Apps and choose the best order do display it to your client. Click an App to remove it from this list.</p>
                <div class="manage-apps-row selected-apps scrollbars" [dragula]='"bag-client"' [dragulaModel]='company_apps' [dragulaOptions]='dragulaOptions'>
                    <div class="manage-apps-card active" *ngFor="let app of company_apps; let i = index" (click)="delete_company_app(app, i)">
                        <i class="manage-apps-icon feather package" placement="right" tooltip="Global library"></i>
                        <img src="assets/img/logos/{{app.logo}}" alt="{{app.name}}" class="manage-apps-logo">
                        <div class="app-name">{{app.name}}</div>
                        <div class="app-description">{{app.category}}</div>
                    </div>
                </div>
            </div>
            <div class="manage-apps-list">
                <div class="row">
                    <div class="col-xs-6">
                        <div dropdown style="display:inline-block">
                            <span dropdownToggle>
                                <h4 class="manage-apps-filter"><span class="library-name">All Libraries</span> <i class="feather chevron-down"></i></h4>
                            </span>
                            <ul *dropdownMenu class="dropdown-menu" role="menu" style="left:15px;top:30px">
                                <li role="menuitem"><a class="dropdown-item" href="#">Global Library</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Practice Library</a></li>
                            </ul>
                        </div>
                        <div class="manage-apps-search">
                            <i class="feather search"></i> <input type="text" placeholder="Search in Apps">
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="manage-apps-order" dropdown placement="bottom right">
                            <span dropdownToggle>
                                Sort by <span class="sort-by">Recently Used</span> <i class="feather chevron-down"></i>
                            </span>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                <li role="menuitem"><a class="dropdown-item" href="#">Recently Used</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Alphabetical Order</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Simply click an App to add it to the Selected Apps.</p>
                <div class="manage-apps-row library scrollbars">
                    <div class="manage-apps-card new-app" (click)="addAppScreen(true)">
                        <i class="feather plus x3"></i>
                        <div class="app-name">New App</div>
                    </div>
                    <div class="manage-apps-card" *ngFor="let app of all_apps; let i = index" (click)="add_company_app(app, i)">
                        <i class="manage-apps-icon feather package" placement="right" tooltip="Global library"></i>
                        <img src="assets/img/logos/{{app.logo}}" alt="{{app.name}}" class="manage-apps-logo">
                        <div class="app-name">{{app.name}}</div>
                        <div class="app-description">{{app.category}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-app-modal-container" *ngIf="showAddApp == true">
            <a href="javascript:" (click)="addAppScreen(false)" style="display:inline-block;padding:10px 0; margin-bottom:0px"><i class="feather arrow-left"></i> Back</a>
            <h4>Add a new App</h4>
            <p>Provide the information to add a new App.</p>
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="AppNameInput01">App name</label>
                            <input id="AppNameInput01" type="text" autofocus class="form-control" placeholder="QuickBooks">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="AppCategory01">App category</label>
                            <select id="AppCategory01" class="form-control">
                            <option value="" selected disabled>Choose a category</option>
                            <option value="Accounting">Accounting</option>
                            <option value="A/P and A/R">A/P and A/R</option>
                            <option value="Document Retrieval">Document Retrieval</option>
                            <option value="Receipt Capture">Receipt Capture</option>
                            <option value="Payroll">Payroll</option>
                            <option value="Expense Management">Expense Management</option>
                            <option value="Time Tracking">Time Tracking</option>
                            <option value="Mileage Tracking">Mileage Tracking</option>
                            <option value="Other Category">Other Category</option>
                            </select>
                            <!-- DISPLAY ONLY IF CHOOSE "OTHER CATEGORY" ON SELECT
                            <input id="AppCategory01" type="text" formControlName="category" [ngClass]="formUtil.displayFieldCss(practiceInfoForm, 'category', true)" class="form-control" placeholder="Accounting"> -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="AppLogo01">App logo / icon</label>
                            <input id="AppLogo01" type="file" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="AppURL01">App login URL</label>
                            <input id="AppURL01" type="text" class="form-control" placeholder="https://domain.com/login">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-left" *ngIf="showAddApp == true"><i class="feather plus"></i> Add App</button>
        <button type="button" class="btn btn-default" *ngIf="showAddApp == true" (click)="addAppScreen(false)">Cancel</button>
        <button type="button" class="btn btn-default" *ngIf="showAddApp == false" (click)="modalRef.hide()">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
</ng-template>