<div class="panel panel-default resources-widget">
    <div class="panel-heading">
        Resources
        <span class="filter">
            <span class="dropdown">
                <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="filter-value">All</span> <i class="feather chevron-down"></i>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="#"><i class="feather circle"></i> All</a></li>
                    <li><a href="#"><i class="feather link"></i> Links</a></li>
                    <li><a href="#"><i class="feather image"></i> Images</a></li>
                    <li><a href="#"><i class="feather file-text"></i> Documents</a></li>
                    <li><a href="#"><i class="feather film"></i> Videos</a></li>
                </ul>
            </span>
        </span>
        <button *ngIf="data.user_type == 1" class="btn btn-success" (click)="openModal(resourcesModal)">Manage</button>
    </div>
    <div class="panel-body scrollable">
        <!-- Placeholder -->
        <div class="text-center" *ngIf="company_resources.length == 0 && data.user_type == 1">
            <img src="assets/img/resources-illustration.svg" alt="Apps" width="130" style="margin-top:10px">
            <h4>Choose the Resources</h4>
            <p>Click on "Manage" to select the Resources to use with this client.</p>
        </div>
        <!-- Placeholder -->

          <div class="row">
            <div class="col-md-6" *ngFor="let resource of company_resources; let i = index">
                <app-resources-item [resource]="resource" [link]="true"></app-resources-item>
            </div>
        </div>  
    </div>
</div>

<ng-template #resourcesModal class="modal-lg">
    <div class="modal-header">
        <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close"><i class="feather x"></i></button>
        <h4 class="modal-title" id="myModalLabel">Manage Resources</h4>
    </div>

    <div class="modal-body" *ngIf="showAddResource == false">
        <div class="manage-resources-list">
            <h4>Selected Resources</h4>
            <p>Drag and drop the Selected Apps and choose the best order do display it to your client. Click on a Resource to remove it from this list.</p>
            <div class="row selected-resources-list" [dragula]='"bag-client"' [dragulaModel]='company_resources' [dragulaOptions]='dragulaOptions'>
                <div class="col-md-6 col-sort-resource" *ngFor="let resource of company_resources; let i = index" (click)="delete_company_resource(resource, i)">
                    <app-resources-item [resource]="resource" [link]="false"></app-resources-item>
                </div>
            </div>
        </div>

        <div class="manage-resources-list">
            <div class="row">
                <div class="col-xs-6">
                    <div dropdown style="display:inline-block">
                        <span dropdownToggle>
                            <h4 class="manage-apps-filter"><span class="library-name">All Libraries</span> <i class="feather chevron-down"></i></h4>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu" role="menu" style="left:15px;top:30px">
                            <li role="menuitem"><a class="dropdown-item" href="#">Global Library</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Practice Library</a></li>
                        </ul>
                    </div>
                    <div class="manage-apps-search">
                        <i class="feather search"></i> <input type="text" placeholder="Search in Resources">
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="manage-apps-order" dropdown placement="bottom right">
                        <span dropdownToggle>
                            Sort by <span class="sort-by">Recently Used</span> <i class="feather chevron-down"></i>
                        </span>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="#">Recently Used</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Alphabetical Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>Simply click on a Resource to add it to the Selected Resources.</p>
            <div class="row not-selected-resources-list manage-resources-list scrollbars">
                <div class="col-md-6">
                    <a href="javascript:" (click)="addResourceScreen(true)" class="resources-item resources-item-add">
                        <div class="resources-thumb">
                            <i class="feather plus x3" style="margin-left: 14px;margin-top: 9px;display: inline-block;color:#7e8692!important"></i>
                        </div>
                        <div class="resources-content">
                            <div class="resources-content-wrapper">
                                <div class="resources-type">&nbsp;</div>
                                <div class="resources-title">New Resource</div>
                                <div class="resources-description">Click to add a new resource</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6" *ngFor="let resource of all_resources; let i = index" (click)="add_company_resource(resource, i)">
                    <app-resources-item [resource]="resource" [link]="false"></app-resources-item>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" *ngIf="showAddResource == true">
        <a href="javascript:" (click)="addResourceScreen(false)" style="display:inline-block;padding:10px 0; margin-bottom:0px"><i class="feather arrow-left"></i> Back</a>
        <h4>Add a new Resource</h4>
        <p>Provide the information to add a new Resource.</p>
        <form [formGroup]="addResourceForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="ResourceTitleInput01">Resource title</label>
                        <input id="ResourceTitleInput01" formControlName="name" type="text" autofocus class="form-control" placeholder="QuickBooks">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ResourceCategory01">Resource type</label>
                        <select id="ResourceCategory01" formControlName="file_type" class="form-control">
                        <option value="" selected disabled>Choose a category</option>
                        <option value="5">Link</option>
                        <option value="3">Video</option>
                        <option value="1">Document</option>
                        <option value="4">Image</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ResourceDesc01">Resource description</label>
                        <textarea id="ResourceDesc01" class="form-control" formControlName="description" placeholder="Describe this resource"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ResourceDesc01">Resource category</label>
                        <textarea id="ResourceDesc01" class="form-control" formControlName="category" placeholder="Describe this resource"></textarea>
                    </div>
                </div>

                <div class="col-sm-12" *ngIf="addResourceForm.get('file_type').value == 1 ||
                    addResourceForm.get('file_type').value == 2 ||
                    addResourceForm.get('file_type').value == 4">
                    <div class="form-group">
                        <label for="ResourceAttachment01">Resource attachment</label>
                        <input id="ResourceAttachment01" type="file" #resourceInput class="form-control">
                    </div>
                </div>

                <div class="col-sm-12" *ngIf="addResourceForm.get('file_type').value == 5 || addResourceForm.get('file_type').value == 3">
                    <div class="form-group">
                        <label for="ResourceURL01">Resource URL</label>
                        <input id="ResourceURL01" type="text" class="form-control" formControlName="url" placeholder="https://domain.com/resource">
                    </div>
                </div> 

            </div>
        </form>
    </div>
    <div class="modal-footer" *ngIf="showAddResource == true">
        <button class="btn btn-primary pull-left" [disabled]="!addResourceForm.valid" (click)="saveResource()"><i class="feather plus"></i> Add Resource</button>
        <button type="button" class="btn btn-default" (click)="addResourceScreen(false)">Cancel</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>