<div class="panel panel-default resources-widget">
    <div class="panel-heading">
        Resources
        <span class="filter">
            <span class="dropdown">
                <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="filter-value">All</span> <i class="feather chevron-down"></i>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="#"><i class="feather circle"></i> All</a></li>
                    <li><a href="#"><i class="feather link"></i> Links</a></li>
                    <li><a href="#"><i class="feather image"></i> Images</a></li>
                    <li><a href="#"><i class="feather file-text"></i> Documents</a></li>
                    <li><a href="#"><i class="feather film"></i> Videos</a></li>
                </ul>
            </span>
        </span>
        <button *ngIf="data.user_type == 1" class="btn btn-success" (click)="openModal(resourcesModal)">Manage</button>
    </div>
    <div class="panel-body scrollable">
        <!-- Placeholder -->
        <div class="text-center" *ngIf="company_resources.length == 0 && data.user_type == 1">
            <img src="assets/img/resources-illustration.svg" alt="Apps" width="130" style="margin-top:10px">
            <h4>Choose the Resources</h4>
            <p>Click on "Manage" to select the Resources to use with this client.</p>
        </div>
        <!-- Placeholder -->

          <div class="row">
            <div class="col-md-6" *ngFor="let resource of company_resources; let i = index">
                <app-resources-item [resource]="resource" [link]="true"></app-resources-item>
            </div>
        </div>  
    </div>
</div>