<div class="panel panel-default resources-widget">
    <div class="panel-heading">
        Resources
        <span class="filter">
            <span class="dropdown">
                <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="filter-value">All</span> <i class="feather chevron-down"></i>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="#"><i class="feather circle"></i> All</a></li>
                    <li><a href="#"><i class="feather link"></i> Links</a></li>
                    <li><a href="#"><i class="feather image"></i> Images</a></li>
                    <li><a href="#"><i class="feather file-text"></i> Documents</a></li>
                    <li><a href="#"><i class="feather film"></i> Videos</a></li>
                </ul>
            </span>
        </span>
        <button *ngIf="data.user_type == 1" class="btn btn-success">Manage</button>
    </div>
    <div class="panel-body scrollable">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="resources-item">
                    <div class="resources-thumb"><img src="http://placehold.it/64x64/111"></div>
                    <div class="resources-content">
                        <div class="resources-content-wrapper">
                            <div class="resources-title">Pellentesque eu turpis rutrum</div>
                            <div class="resources-description">Vivamus vestibulum vestibulum est cursus venenatis.</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>